$header-main-gap-y: .5rem;

$menu-item-gap-x: 1.5rem;
$menu-item-gap-y: 0.5rem;
$menu-item-gap-x-desk: 1rem;
$menu-item-gap-y-desk: 1rem;
$menu-sub-gap-x: $menu-item-gap-x;
$menu-sub-gap-y: 0.75rem;

@import "layouts/base";
@import "layouts/menu";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/split";
@import "layouts/section";